/*the color palette you're using:  http://paletton.com/#uid=5020u0k7j708zcX7I9ubo8WgO9Y     */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-size: 10px;
  background-color: #161616;
}

/*======================== header ======================== */
.header {
  text-align: right;
  font-size: 3rem;
}

.header a{
  text-decoration: none;
  color: #674D4C;
  padding: 0 1rem;
  border-radius: 3px;
  line-height: 1.5rem;
  vertical-align: middle;
}

.header li :hover {
  background-color: #727272;
  color: #2E2329;
}


/*======================== jumbotron ======================== */



.jumbotron {
  background-image: url("images/jumbo_celts.jpg");
  background-position: 50% 70%;
  background-size: cover;
}

.jumbotron .container {
  background-color: transparent;
}

.jumbotron h1, h2{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px #161616;
}


/*======================== supporting ======================== */



.vertical-align {
  display: flex;
  align-items: center;
}

.supporting p {
  font-size: 2rem;
  color: #a08a75;
  margin-right: 2rem;
  margin-left: 2rem;
}

.supporting .container .thumb {
  margin: 2rem auto;
  width: 500px;
  height: 250px;
  border-radius: 3px;
  box-shadow: inset .5rem .5rem 1rem rgba(255, 255, 255, 0.4), inset -.5rem -.5rem 1rem rgba(0, 0, 0, 0.4);
}

.supporting a:hover {
  text-decoration: none;
}

#mm28 {
  text-align: right;
}

#cheers {
  text-align: right;
}

#conan {
  background: url("images/conan_lander.jpg") 50% 50% no-repeat;
}

#inq {
  background: url("images/inq_lander.jpg") 50% 50% no-repeat;
}

#lawrence{
  background: url("images/lawrence_lander.jpg") 30% 50% no-repeat;
}

/*======================== footer ======================== */

.footer{
  font-size: 1.2rem;
  color: #674D4C;
}

.footer p{
  padding-top: 3rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  text-align: right;
}
