/*the color palette you're using:  http://paletton.com/#uid=5020u0k7j708zcX7I9ubo8WgO9Y     */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-size: 10px;
  background-color: black;
}

.container{
  background-color: #161616;
}
/*======================== header ======================== */
.header {
  text-align: right;
  font-size: 3rem;
}

.header a{
  text-decoration: none;
  color: #674D4C;
  padding: 0 1rem;
  border-radius: 3px;
  line-height: 1.5rem;
  vertical-align: middle;
}

.header li :hover {
  background-color: #727272;
  color: #2E2329;
}


/*======================== jumbotron ======================== */

.jumbotron .container {
  background-color: transparent;
}

.jumbotron h1, h2{
    text-align: center;
    color: #161616
}


/*======================== supporting ======================== */

.supporting p{
  font-size: 2rem;
  color: #a08a75;

}

.conanThumb {
  overflow:hidden;
  width: 250px;
  height: 250px;
}




/*======================== footer ======================== */

.footer{
  font-size: 1.2rem;
  color: #674D4C;
}

.footer p{
  font-family: Arial, sans-serif;
  text-align: right;
}
